{% extends 'admin/base.html.twig' %}

{% block title %}Hébergements en attente de validation{% endblock %}

{% block body %}

<div class="body">

{{parent()}}

<div class="right-side">
	<main>
		<div class="title">
			<h3>Validation des nouveaux hébergements</h3>
		</div>

		<div class="array">
			<table class="table">
                <thead>
			        <tr class="table-dark">
					<th scope="col">ID</th>
					<th scope="col">Image principale</th>
					<th scope="col">Nom</th>
					<th scope="col">Type</th>
					<th scope="col">Ville</th>
					<th scope="col">Pays</th>
               		<th scope="col">Inspecter</th>
					</tr>
				</thead>
				<tbody>
					<tr>
 						{% for accomodation in accomodations %}
        				<th class="align-middle" scope="row">{{accomodation.id}}</th>
    					<td class="align-middle">

                    {% for currentPicture in accomodation.picture %}
                   
                    {% if currentPicture.main == true %}
				        <img
				        src="{{asset('assets/accomodation/'~ currentPicture.name)}}" class="img-back" alt="">
                        {% endif %}
                    {% endfor %}
                        </td>
        				<td class="align-middle">{{accomodation.title}}</td>
        				<td class="align-middle">{{accomodation.type.name}}</td>
						<td class="align-middle">{{accomodation.city}}</td>
        				<td class="align-middle">{{accomodation.country}}</td>
        				
        				<td class="align-middle">

        				<a href="{{path('admin_validate_accomodations_read',{'id':accomodation.id}) }}" class="inspect">Inspecter</td>
        			</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
</div>
</div>
{% endblock %}
