{% extends 'base.html.twig' %}
{% block body %}

	<main class="validate-accomodation">
		<div class="title">
			<h3>Validation de l'hébergement</h3>
			<a href="{{path('admin_validate_accomodations_browse') }}" class="validate-link-back">Retour à la liste</a>
		</div>

		<hr class="my-4">
		<div class="validate-body">
			<h3 class="validate-user-username">
			<img style="width:75px"src="{{asset('assets/avatar/'~ currentAccomodation.user.avatar)}}" alt="">{{currentAccomodation.user.pseudo}}

				{% if currentAccomodation.facebookLink is not null %}
				<a href="{{currentAccomodation.facebookLink}}">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
				</a>
				{% endif %}


				{% if currentAccomodation.InstagramLink is not null %}
				<a href="{{currentAccomodation.InstagramLink}}">
				<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
				{% endif %}
			</h3>

			<div class="validate-pictures">
			{% if currentAccomodation.picture is not null %}
				{% for currentPicture in currentAccomodation.picture %}
					<img class="accomodation-picture"
					src="{{asset('assets/accomodation/'~ currentPicture.name)}}" style="width:200px; height:150px" alt="">
				{% endfor %}
			{% endif %}
			</div>


			<h4 class="accomodation-title">{{currentAccomodation.title}}</h4>

			<p class="accomodation-adress">{{currentAccomodation.adress}}</p>
			<p class="accomodation-adress">{{currentAccomodation.city}}, 
			{{currentAccomodation.country}}</p>

			<p class="validate-accomodation-type">{{currentAccomodation.type.name}}</p>

			<p class="accomodation-description">
			{{currentAccomodation.description}}</p>

			<p class="accomodation-price">Prix :
			{{currentAccomodation.price}} € /nuit</p>

		
			<p class="accomodation-surface">Surface :
			{{currentAccomodation.surface}} m²</p>


				<div class ="accomodation-icons"> 
					{% if currentAccomodation.pipedWater == true %}
					<img style="width:50px" src="{{asset('assets/icon/water.png')}}" alt="">
					{% endif %}
	
					{% if currentAccomodation.electricity == true %}
					<img style="width:50px" src="{{asset('assets/icon/thunder.png')}}" alt="">
					{% endif %}
				</div>

				<div class ="accomodation-icons"> 
					{% if currentAccomodation.animals == true %}
					<img style="width:50px" src="{{asset('assets/icon/dogok.png')}}" alt="">
					
					{% endif %}

					{% if currentAccomodation.smokers == true %}
					<img style="width:50px" src="{{asset('assets/icon/smoke.png')}}" alt="">
					
					{% endif %}
	
					{% if currentAccomodation.accessibility == true %}
					<img style="width:50px" src="{{asset('assets/icon/apmr.png')}}" alt="">
					{% endif %}

					{% if currentAccomodation.nbNight == true %} 
					<p><img style="width:50px" src="{{asset('assets/icon/lit.png')}}" alt="">{{currentAccomodation.nbNight}}</p>
					{% endif %}
				</div>
	

	<div class="validate-extras-services">
								
		<div class ="accomodation-services">
			<h5 class="title-service-extras">Services</h5>
				
				<div class="img-text-services">
         			{% for service in currentAccomodation.service %}
					 <img class="validate-icon" style="width:30px" src="{{asset('assets/icon/'~ service.icon)}}" alt="">
					<p class="validate-name">{{service.name}}</p>
					{% endfor %}
				</div>
		</div>
         		

    	<div class="accomodation-extras">
         	<h5 class="title-service-extras">Extras</h5>    
			 	
				<div class="img-text-extras">
         			{% for extra in currentAccomodation.extra %}
					 <img class="validate-icon" style="width:30px" src="{{asset('assets/icon/'~ extra.icon)}}" alt="">
						<p class="validate-name">{{extra.name}}</p>
					{% endfor %}
				</div>
		</div>
	</div>
			

<div class="button-validate">
	<div class="button-on-line">
 		<a href="{{ path('admin_validate_accomodations_validate', {'id' : currentAccomodation.id}) }}">
		<button type="submit" class="on-line">Mettre en ligne</button></a>
	</div>

	<div class="button-delete-admin">
	{{ form_start(deleteValidationType) }}
	{{ form_widget(deleteValidationType) }}
	{{ form_end(deleteValidationType) }} 
	</div>

	<div class="button-banish-admin">
	{{ form_start(userBanish) }}
	{{ form_widget(userBanish) }}
	{{ form_end(userBanish) }}  
	</div>

	<div class="button-accomodation-edit">
	<a href="{{path('admin_validate_accomodations_edit', {'id' : currentAccomodation.id })}}">
	<button type="edit" class="accomodation-button-edit">Modifier</button></a>
	</div>
</div>
		</div>
	</div>
</main>

{% endblock %}
