<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Atipik{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
          <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    
       {% block body %}  

<div class="left-side">
  
    <aside class="aside">
      <img src="{{ asset('assets/css/' ~ 'Atipik-orange.png') }}" class="logo">
      <ul class="navigation-list">
      <li class="navigation-titre">Administration <br>du contenu</li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_users_browse')}}">Utilisateurs</a></li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_accomodations_browse')}}">Hébergements</a></li>
        <li class="navigation-titre">Administration <br>des types de données</li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_type_browse')}}">Types d'hébergement</a></li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_services_browse')}}">Services</a></li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_extras_browse')}}">Extras</a></li>


        <a href="{{path('admin_validate_accomodations_browse')}}">
        <button type="navigation-item-validate" class="navigation-item-validate">Validation des nouveaux hebergements</button>
        </a>

        <a href="http://localhost:8080" class="link-site">
    <button type="button" class="button-site">Retour au site</button>
	</a>

      </ul>
    </aside>
</div>


 {% endblock %}
    </body>
</html>
