<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
          <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
          <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    
       {% block body %}  


<div class="sidebar"> 
 
    <aside class="aside">
      <ul class="navigation-list">
      <li class="navigation-titre">Administration du contenu</li>
        <li class="navigation-item"><a class="navigation-link" href="#">Utilisateurs</a></li>
        <li class="navigation-item"><a class="navigation-link" href="">Hebergements</a></li>
        <li class="navigation-titre">Administration des types de données</li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_type_browse')}}">Types d'hebergement</a></li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_services_browse')}}">Services</a></li>
        <li class="navigation-item"><a class="navigation-link" href="{{path('admin_extras_browse')}}">Extras</a></li>
        
        
        <a href=""><button type="navigation-item-validate" class="navigation-item-validate">Validation des nouveaux hebergements</button></a>

        <a href="" class="link-site">
    <button type="button" class="button-site">Retour au site</button>
	</a>

      </ul>

     
    </nav>
 </aside>
  </div>




  
 {% endblock %}

       
     
    </body>
</html>