{% extends 'base.html.twig' %}

{% block body %}

<div class="body">

     <div class="edit-title">
          <h3>Modifier le type d'hébergement</h3>
     </div>

     <div class="container-edit-type">
     {{form_start(form)}}

          <div class="image-form-type">
               <div class="current-picture-form">{{form_widget(form.picture, {'attr': {'placeholder': 'Photo'}}) }}</div>
               <div class="current-icon-form">{{form_widget(form.icon, {'attr': {'placeholder': 'Icône'}}) }}</div>
          </div>

          <div class="main-input-type">
               <div class="input-name">{{form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}</div>
               <div class="input-thematic">{{form_widget(form.thematic)}}</div>
           </div>

          
          <div class="input-description-type">{{form_widget(form.description, {'attr': {'placeholder': 'Description'}}) }}</div> 
          

          <div class="validate-button-type">
               <div>
                    <button type="submit" class="validate">Valider</button>
               </div>
               <div class="back-button">
                    <a href="{{path('admin_type_browse')}}" class="link-back"> Retour à la liste</a>
               </div>
          </div>
     
{{form_end(form)}}
</div>


{% endblock %}