{% extends 'admin/base.html.twig' %}

{% block title %}Liste des hébergements{% endblock %}

{% block body %}

{{parent()}}

<div class="rightSide">

<main>
    <div class="title">
        <h1 class="typeTitleList" id="titleList">Hébergements</h1>
    </div>

    
<table class="table table-hover">
		<thead>
			<tr class="table-primary">
				<th scope="col">ID</th>
				<th scope="col">Photo</th>
				<th scope="col">Nom</th>
                <th scope="col">Type</th>
		        <th scope="col">Pays</th>
                <th scope="col">Ville</th>
				<th scope="col">Supprimer</th>
			</tr>
		</thead>
		<tbody>	
        <tr>
            {% for accomodation in accomodations %}

            <th scope="row">{{accomodation.id}}</th>
            <td>{% for currentPicture in accomodation.picture %}
				<img
				src="{{asset('assets/accomodation/'~ currentPicture.main)}}" alt="">
			{% endfor %}</td>
            <td>{{accomodation.title}}</th>
            <td>{{accomodation.type.name}}</th>
            <td>{{accomodation.country}}</th>
            <td>{{accomodation.city}}</th>
            <td>{{ form(forms[loop.index0]) }}</td>
        </tr>
			{% endfor %}

        
		

{% endblock %}
