{% extends 'admin/base.html.twig' %}

{% block title %}Liste des hébergements{% endblock %}

{% block body %}

<div class="body">

{{parent()}}

<div class="right-side">
    <main>
        <div class="title">
            <h3>Hébergements</h3>
        </div>

        <div class="array">
            <table class="table">
                <thead>
			        <tr class="table-dark">
				    <th scope="col">ID</th>
				    <th scope="col">Photo</th>
				    <th scope="col">Nom</th>
                    <th scope="col">Type</th>  
                    <th scope="col">Ville</th>
		            <th scope="col">Pays</th>
				    <th scope="col">Supprimer</th>
			        </tr>
		        </thead>
		        <tbody>	
                    <tr>
                        {% for accomodation in accomodations %}

                        <th class="align-middle" scope="row">{{accomodation.id}}</th>
                        <td class="align-middle">

                    {% for currentPicture in accomodation.picture %}
                   
                    {% if currentPicture.main == true %}
				        <img
				        src="{{asset('assets/accomodation/'~ currentPicture.name)}}" class="img-back" alt="">
                        {% endif %}
                    {% endfor %}
                        </td>
                        <td class="align-middle">{{accomodation.title}}</th>
                        <td class="align-middle">{{accomodation.type.name}}</th>
                        <td class="align-middle">{{accomodation.city}}</th>
                        <td class="align-middle">{{accomodation.country}}</th>
                        <td class="align-middle">{{ form(forms[loop.index0]) }}</td>
                    </tr>
			            {% endfor %}
                </tbody>
			</table>
		</div>
	</main>
</div>
</div>
		

{% endblock %}
