{% extends 'base.html.twig' %}
{% block body %}

<div class="edit-title">
  <h3>Ajouter un nouvel extra</h3>
</div>

<div class="container-edit">
{{form_start(form)}}

  {% if form_errors(form.name) %}
  <p style="color:red">{{ form_errors(form.name) }}</p>
{% endif %}

     <div class="main-input">
          <div class="input-name-edit">
    {{form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}
    </div>
    </div>

{% if form_errors(form.icon) %}
  <p style="color:red">{{ form_errors(form.icon) }}</p>
{% endif %}


    <div class="image-form">
          <div class="current-icon-form">
    {{form_widget(form.icon, {'attr': {'placeholder': 'Icon'}}) }}
    </div>
    </div>

  <div class="validate-button">
                    <button type="submit" class="validate-edit">Valider</button>
               <div class="back-button">
                    <a href="{{path('admin_extras_browse')}}" class="link-back"> Retour à la liste</a>
               </div>
          </div>
{{form_end(form)}}
</div>

{% endblock %}