{% extends 'admin/base.html.twig' %}

{% block title %}Hello ExtraController!
{% endblock %}

{% block body %}

{{parent()}}

<div class="rightSide">

<main>

	<h1 class="typeTitleList">Extras</h1>

	<a href="{{path('admin_extras_add')}}">
    <button type="edit" class="btn btn-primary">Ajouter un nouvel extra</button>
	</a>

	<table class="table table-hover">
		<thead>
			<tr class="table-primary">
				<th scope="col">ID</th>
				<th scope="col">Icone</th>
				<th scope="col">Nom</th>
				<th scope="col">Modifier</th>
				<th scope="col">Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for extra in extras %}
					<th scope="row">{{extra.id}}</th>
                 
					
					<td><img src="{{ asset('assets/icon/' ~ extra.icon) }}" class='icone-extra-admin' alt=""></td>
					<td>{{extra.name}}</td>
					<td>
						<a href="{{path('admin_extras_edit', {'id' : extra.id })}}">
							<button type="edit" class="btn btn-primary">Modifier</button>
						</a>
					</td>

					 
                <td>{{ form(forms[loop.index0]) }}</td>

			</tr>
				{% endfor %}

	</tbody>
	</main>
	</div>
		{% endblock %}


