{% extends 'base.html.twig' %}
{% block body %}

<h1 class="typeTitleEdit">Modifier le service</h1>

<div class="container">
{{form_start(form)}}

     <div class="extra">
          <div class="extra-name">{{form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}
          </div>

          <div class="extra-icon">{{form_widget(form.icon, {'attr': {'placeholder': 'Icon'}}) }}
          </div>

     </div>

     <div class="buttonExtra">
          <button type="submit" class="btn btn-primary">Valider</button>
          <a href="{{path('admin_extras_browse')}}" class="linkBack"> Retour a la liste</a>
     </div>

{{form_end(form)}}


</div>


{% endblock %}